<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->

  <button [routerLink]="['/']" routerLinkActive="router-link-active" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>

  <span class="spacer"></span>

  <button *ngIf="userIsAuthenticated" [routerLink]="['/create']" routerLinkActive="router-link-active"  mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>

  <span *ngIf="userIsAuthenticated">
    <a (click)="onLogout()">Logout</a>
  </span>

  <span *ngIf="!userIsAuthenticated">
    <a routerLink="/login">Login</a>
  </span>

  <span *ngIf="!userIsAuthenticated">
    <a routerLink="/sign-up">Sign Up</a>
  </span>

</mat-toolbar>
